@model dirtbike.api.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardVendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardVendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardLast4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardLast4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardExpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
