@model IEnumerable<dirtbike.api.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardVendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardLast4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardVendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardLast4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
